.App {
  text-align: center;
}

.PokemonList {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.PokemonList ul {
  list-style: none;
  padding: 0;
}

.PokemonList li {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.PokemonDetails img {
  max-width: 200px;
}

.PokemonDetails p {
  margin: 5px;
}


